/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */

@font-face {
	font-family: "TronFont";
	src: url("../../public/fonts/Tron-JOAa.ttf")
		format("truetype");
}

@font-face {
	font-family: "RevampedFont";
	src: url("../../public/fonts/Revamped-X3q1a.ttf")
		format("truetype");
}
