.EmptyCartBox {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.Wrapper {
	padding: 30px;
	padding-top: 5%;
	border: 2px solid grey;
	border-radius: 9px;
	max-width: 700px;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff,
		0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
	margin: 0 auto;
}

.Title {
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	font-family: "RevampedFont";
}

.LineBreak {
	border-bottom: 1px solid grey;
	margin-top: 10px;
}

/* .HeaderWrapper {
} */

.SubtotalWrapper {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: flex-end;
	margin-right: 10px;
	align-items: center;
}

.Category {
	font-style: italic;
	margin-left: 10px;
}

.StyledButton {
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ffd633;
	color: white;
	font-weight: bold;
	border-radius: 7px;
	max-width: 65px;
	border: none;
	margin-left: 10px;
}

.StyledButton:hover {
	cursor: pointer;
}

.ConfirmBtn {
	margin-left: 10px;
	background-color: #bc13fe;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px 20px;
	cursor: pointer;
}

.ConfirmBtn:hover,
.ConfirmBtn:active {
	background-color: #9513fe;
	color: white;
}

.ConfirmBtn:active {
	background-color: grey;
}

.Information {
	margin-left: 10px;
}

.Info {
	display: flex;
	flex-direction: column;
}
