.wrapper {
	background-color: black;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 150px;
	gap: 75px;
}

.tagline {
	color: white;
	font-size: 40px;
	font-family: "RevampedFont";
	transform: skew(-15deg, -7deg);
	text-decoration: underline;
	text-underline-offset: 15px;
	font-style: italic;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff,
		0 0 21px #4b0082, 0 0 42px #4b0082,
		0 0 82px #4b0082, 0 0 92px #4b0082,
		0 0 102px #4b0082, 0 0 151px #4b0082;
}

@keyframes glow {
	from {
		text-shadow: 0 0 7px #fff, 0 0 10px #fff,
			0 0 21px #00cc88, 0 0 42px #00cc88,
			0 0 60px #00cc88, 0 0 50px #00cc88,
			0 0 60px #00cc88, 0 0 70px #00cc88;
	}
	to {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff,
			0 0 30px #e60073, 0 0 40px #e60073,
			0 0 50px #e60073, 0 0 60px #e60073,
			0 0 70px #e60073;
	}
}

.bigTypography {
	font-size: 145px;
	transform: rotate(-3deg);
	font-weight: bold;
	color: white;
	animation: glow 2s ease-in-out infinite
		alternate;
}

.styledUl {
	padding: 0;
	margin: 0;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
